---
import Nav from "../components/nav"

import {auth} from "../lib/auth"
const session = await auth.api.getSession({
	headers: Astro.request.headers
})
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="px-4 lg:px-24 ">
		<Nav sesh={session} client:load />
		<slot />
	</body>
	<link href="https://cdn.jsdelivr.net/npm/daisyui@$5/themes.css" rel="stylesheet" type="text/css" />
</html>

<style>
	html,
	body {
		box-sizing: border-box;

		margin: 0;
		height: 100%;
	}
</style>
